<!DOCTYPE html>
<html>
    <head>
        <title>Leander van Baekel</title>


        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" >
        <title>Caffeine Works</title>
        <link rel="canonical" href="http://caffeine-works.nl/">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="keywords" content="" >
        <meta name="description" content="Portfolio van Leander van Baekel. Student Communicatie & Multimedia Design.">
        <!--FACEBOOK-->
        <meta property="og:title" content="Portfolio Leander van Baekel" >
        <meta property="og:site_name" content="Caffeine Works">
        <meta property="og:url" content="http://caffeine-works.nl/" >
        <meta property="og:description" content="Portfolio van Leander van Baekel. Student Communicatie & Multimedia Design." >
        <meta property="og:image" content="http://caffeine-works.nl/logo.jpg" >
        <meta property="fb:app_id" content="691076698" >
        <meta property="fb:admins" content="691076698">
        <meta property="og:type" content="website" >
        <meta property="og:locale" content="nl_NL" >
        <!--TWITTER-->
        <meta property="twitter:card" content="summary" >
        <meta property="twitter:title" content="Portfolio Leander van Baekel" >
        <meta property="twitter:description" content="Portfolio van Leander van Baekel. Student Communicatie & Multimedia Design." >
        <meta property="twitter:creator" content="@Leander_vB" >
        <meta property="twitter:url" content="http://caffeine-works.nl/" >
        <meta property="twitter:image" content="http://caffeine-works.nl/" >
        <!--GOOGLE+-->
        <link rel="author" href="https://plus.google.com/+leandervanbaekel/">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-55658724-1', 'auto');
            ga('send', 'pageview');
        </script>


        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Raleway:400,100,200,300,500,600,700,800,900|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>

        <link rel='stylesheet' href='cv.css' />
    </head>
    <body>
        <a href="/" class="terug">
            <section style="padding: 1em">
                &#9664; TERUG
            </section>
        </a>
        <div id="wrapper">
        <div class="masonry">
            <section class="cv">
                <h1>Curriculum Vitae</h1>
                <h2>Leander van Baekel</h2>
            </section>

            <section class="cv">
                <h2>Personalia</h2>
                <p><b>Naam:</b><br>Leander van Baekel</p>
                <p><b>Adres:</b><br>Terschelling 10<br>1967EC Heemskerk</p>
               <p><b>Geboren:</b><br>Heemskerk, 31 mei 1993</p>
               <p><b>Telefoon:</b><br>0644229129</p>
               <p><b>E-mail:</b><br>leander.van.baekel@gmail.com</p>
            </section>

            <section class="cv">
                <h2>Talenkennis</h2>
                <p>Nederlands: mondeling en schriftelijk, vloeiend</p>
                <p>Engels: mondeling en schriftelijk, goed</p>
            </section>

            <section class="cv">
                <h2>Hobby's</h2>
                <p>
                    <ul>
                        <li>programmeren</li>
                        <li>Films & series kijken</li>
                        <li>Raspberry Pi</li>
                        <li>Jailbreaking</li>
                        <li>Gamen</li>
                    </ul>
                </p>
            </section>

            <section class="cv">
                <h2>Vaardigheden</h2>
                <p>
                    <ul>
                        <li style="margin-bottom:0.3em;">HTML
                            <div class="meter">
                                <span style="width: 90%">90%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">CSS                             
                            <div class="meter">
                                <span style="width: 90%">90%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Javascript
                           <div class="meter">
                                <span style="width: 75%">75%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Node.js
                           <div class="meter">
                                <span style="width: 70%">70%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Indesign
                            <div class="meter">
                                <span style="width: 90%">90%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Photoshop
                           <div class="meter">
                                <span style="width: 70%">70%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Illustrator
                           <div class="meter">
                                <span style="width: 70%">70%</span>
                            </div>
                        </li>
                        <li style="margin-bottom:0.3em;">Titanium studio
                           <div class="meter">
                                <span style="width: 50%">50%</span>
                            </div>
                        </li>
                    </ul>
                </p>
            </section>

            <section class="cv">
                <h2>Werkervaring</h2>
                <p><b>2012 - heden:</b></p> <p>Teamleider Verkoopklaar, Albert Heijn Heemskerk</p>
                    
                <p><b>2008 - 2012</b></p> <p>Medewerker Verkoopklaar, Albert Heijn Heemskerk</p>
                </p>
            </section>

            <section class="cv">
                <h2>Stage</h2>
                <p><b>2011 - 2012:</b></p> <p>Stagiair grafisch vormgeven, Heldergroen Haarlem</p>
            </section>

            <section class="cv">
                <h2>Opleidingen</h2>
                <p><b>Sept 2013 - heden:</b></p> <p>Communicatie en Multimedia Design, Hogeschool van Amsterdam</p>
                <p><b>2013 - 2014:</b></p> <p>Propedeuse Communicatie en Multimedia Design, Hogeschool van Amsterdam</p>
                <p><b>2009 - 2013:</b></p> <p>Grafisch Vormgeven, Media College Amsterdam</b></p> <p>Richting: Typografie/concept</p>
                <p><b>2005 - 2009:</b></p> <p>VMBO-TL, Kennemer College</p>
            </section>
        </div>
        </div>
        <a href="/" class="terug">
            <section style="padding: 1em">
                &#9664; TERUG
            </section>
        </a>
        <script src="script.js"></script>
    </body>
</html>



